body{
  margin: 50px;
}

.blog-card{
  border: 1px solid #ccc;
  border-radius: 4px;
}
.blog-card-wrapper{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 30px auto;
  max-width: 360px;
}

.blog-image > img{
  object-fit: cover;
  width: 100%;
  height: 160px;
}

.blog-card-body{
  padding: 10px;
  margin-top: 0;
  margin-bottom: 5px;
}

.blog-card-title{
  text-align: left;
  font-size: 1.5rem;
}

.blog-card-info{
  margin-bottom: 5px;
  font-size: 1.25rem;
}

.blog-card:hover{
  cursor: pointer;
  box-shadow: 2px 2px #ddd;
}

@media screen and (min-width:576px) {
  .blog-card-wrapper{
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 720px;
  }
  .blog-card{
    width: calc((100% - 10px - 4px)/2);
  }
}

@media screen and (min-width:991px) {
  .blog-card-wrapper{
    max-width: 960px;
  }
  .blog-card{
    width: calc((100% - 20px - 6px)/3);
  }
}